<a href="https://colab.research.google.com/github/raghadS4545/YUMYUM/blob/main/p1_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IT326-project

## Phase 1

The aim of this project is to study students grades and classify them under specific categories such as Excellent, Good, and Satisfactory, while discovering the factors that affect them using data mining techniques. Data mining algorithms will be applied to extract patterns and relationships between students' grades and various factors, aiming to identify the main influences on academic performance.

## The source of the dataset https://www.kaggle.com/datasets/desalegngeb/students-exam-scores

## Motivation and Goal :
The purpose of this dataset is to use data mining algorithms such as classification and clustering to evaluate and understand the elements that influence students' test performance. We will apply classification algorithms to categorize students into high, medium, or low performance levels and use K-means clustering to group students based on performance and personal attributes.

## General information :

Number of attributes : 14 attributes

Number of Observations : more than 300,000



attributes Descriptions :

1- Gender: The gender of the student (male or female).

2- EthnicGroup: Ethnic group of the student (group A to E)

3-ParentEduc: Parent(s) education background (from some_highschool to master's degree)

4-LunchType: School lunch type (standard or free/reduced)

5-TestPrep: Test preparation course followed (completed or none)

6-ParentMaritalStatus: Parent(s) marital status (married/single/widowed/divorced)

7-PracticeSport: How often the student parctice sport (never/sometimes/regularly)

8-IsFirstChild: If the child is first child in the family or not (yes/no)

9-NrSiblings: Number of siblings the student has (0 to 7)

10- TransportMeans: Means of transport to school (schoolbus/private)

11- WklyStudyHours: Weekly self-study hours(less that 5hrs; between 5 and 10hrs; more than 10hrs)

12- MathScore: math test score(0-100)

13- ReadingScore: reading test score(0-100)

14- WritingScore: writing test score(0-100)

-The Class label is the final grades of students in each subject (math, reading, and writing)

In [18]:
import pandas as pd
data = pd.read_csv('/Expanded_data_with_more_features.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30641 entries, 0 to 30640
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           30641 non-null  int64
 1   Gender               30641 non-null  object
 2   EthnicGroup          28801 non-null  object
 3   ParentEduc           28796 non-null  object
 4   LunchType            30641 non-null  object
 5   TestPrep             28811 non-null  object
 6   ParentMaritalStatus  29451 non-null  object
 7   PracticeSport        30010 non-null  object
 8   IsFirstChild         29737 non-null  object
 9   NrSiblings           29069 non-null  float64
 10  TransportMeans       27507 non-null  object
 11  WklyStudyHours       29686 non-null  object
 12  MathScore            30641 non-null  int64
 13  ReadingScore         30641 non-null  int64
 14  WritingScore         30641 non-null  int64
dtypes: float64(1), int64(4), object(10)
memory usage: 3.5+ MB

In [19]:
rows, columns = data.shape
print(f"number of rows : {rows}, number of columns : {columns}")
print("names of attributes :\n", data.columns)
print("type of attributes :\n", data.dtypes)

number of rows : 30641, number of columns : 15
names of attributes :
 Index(['Unnamed: 0', 'Gender', 'EthnicGroup', 'ParentEduc', 'LunchType',
       'TestPrep', 'ParentMaritalStatus', 'PracticeSport', 'IsFirstChild',
       'NrSiblings', 'TransportMeans', 'WklyStudyHours', 'MathScore',
       'ReadingScore', 'WritingScore'],
      dtype='object')
type of attributes :
 Unnamed: 0               int64
Gender                  object
EthnicGroup             object
ParentEduc              object
LunchType               object
TestPrep                object
ParentMaritalStatus     object
PracticeSport           object
IsFirstChild            object
NrSiblings             float64
TransportMeans          object
WklyStudyHours          object
MathScore                int64
ReadingScore             int64
WritingScore             int64
dtype: object

# Phase 2

In [20]:
# Import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from scipy import stats
from sklearn.preprocessing import MinMaxScaler
from scipy.stats import chi2_contingency
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_selection import SelectKBest, f_classif
from scipy.stats import mode
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from imblearn.over_sampling import SMOTE
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
import warnings
warnings.filterwarnings("ignore")

### Loading the dataset

In [21]:
df = pd.read_csv("/Expanded_data_with_more_features.csv",sep=",")
df
#Using the Pandas library's functionalities to read data from a CSV file
#into a Pandas DataFrame, enabling us to examine, and visualize the data.

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
0,0,female,NaN,bachelor's degree,standard,none,married,regularly,yes,3.0,school_bus,< 5,71,71,74
1,1,female,group C,some college,standard,NaN,married,sometimes,yes,0.0,NaN,5 - 10,69,90,88
2,2,female,group B,master's degree,standard,none,single,sometimes,yes,4.0,school_bus,< 5,87,93,91
3,3,male,group A,associate's degree,free/reduced,none,married,never,no,1.0,NaN,5 - 10,45,56,42
4,4,male,group C,some college,standard,none,married,sometimes,yes,0.0,school_bus,5 - 10,76,78,75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30636,816,female,group D,high school,standard,none,single,sometimes,no,2.0,school_bus,5 - 10,59,61,65
30637,890,male,group E,high school,standard,none,single,regularly,no,1.0,private,5 - 10,58,53,51
30638,911,female,NaN,high school,free/reduced,completed,married,sometimes,no,1.0,private,5 - 10,61,70,67
30639,934,female,group D,associate's degree,standard,completed,married,regularly,no,3.0,school_bus,5 - 10,82,90,93
30640,960,male,group B,some college,standard,none,married,never,no,1.0,school_bus,5 - 10,64,60,58

### 20 Sample from the data

In [22]:
sample_data = df.sample(n=20);
sample_data

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
29979,585,male,group D,some high school,standard,none,single,sometimes,no,1.0,school_bus,5 - 10,58,59,58
25912,627,female,group C,some high school,standard,completed,married,sometimes,yes,4.0,private,> 10,54,73,74
28976,922,male,group E,associate's degree,standard,completed,married,sometimes,yes,1.0,school_bus,NaN,80,72,74
4489,737,male,group C,some high school,standard,completed,divorced,never,yes,4.0,school_bus,5 - 10,53,57,62
7299,713,female,group C,some high school,standard,completed,NaN,sometimes,no,4.0,private,> 10,94,96,100
1120,182,male,group C,high school,standard,none,married,regularly,yes,3.0,school_bus,< 5,63,61,60
24679,299,female,group D,some college,free/reduced,completed,divorced,regularly,yes,1.0,private,> 10,82,91,93
15162,92,male,group D,NaN,free/reduced,none,married,sometimes,yes,0.0,private,< 5,50,53,47
15483,441,female,group C,associate's degree,standard,none,married,sometimes,no,1.0,private,< 5,79,81,82
11844,560,male,group B,some high school,standard,none,married,sometimes,yes,6.0,private,> 10,77,62,62
23088,598,female,group D,some college,standard,none,married,never,no,3.0,private,5 - 10,59,73,75
30504,275,male,group C,master's degree,free/reduced,none,married,never,no,3.0,private,< 5,41,44,42
16309,344,male,group C,master's degree,standard,completed,single,regularly,yes,0.0,school_bus,< 5,90,86,98
14765,665,male,group D,some high school,free/reduced,none,married,sometimes,yes,0.0,private,< 5,45,47,48
3146,323,female,group C,some college,standard,none,married,sometimes,yes,0.0,private,5 - 10,60,73,68
29896,277,male,group E,some college,standard,completed,NaN,never,no,2.0,school_bus,5 - 10,83,83,83
28065,939,male,group D,associate's degree,standard,none,married,sometimes,yes,2.0,school_bus,5 - 10,64,56,55
29227,398,female,group E,some high school,free/reduced,none,married,regularly,no,1.0,private,> 10,92,90,86
26896,683,male,group B,high school,standard,none,divorced,sometimes,no,6.0,private,> 10,80,77,67
802,846,male,group C,master's degree,standard,completed,married,sometimes,yes,7.0,private,5 - 10,91,85,85

### 1- Check missing â€œNAâ€ :

In [23]:
missing_values = df.isna().sum()
print("\nTotal number of missing values in the dataset:", missing_values.sum())

#To begin cleaning and handling the data set, we should know the total number of missing values.

Total number of missing values in the dataset: 13901

In [24]:
print("\nMissing Values:")
missing_values = df.isnull().sum()
missing_table = pd.DataFrame({'Variable': missing_values.index, 'Missing Values': missing_values.values})
display(missing_table)

#The previous code reads data from a CSV file, finds any missing values,
#and creates a table that counts the number of missing values for each variable in the dataset.

Missing Values:

               Variable  Missing Values
0            Unnamed: 0               0
1                Gender               0
2           EthnicGroup            1840
3            ParentEduc            1845
4             LunchType               0
5              TestPrep            1830
6   ParentMaritalStatus            1190
7         PracticeSport             631
8          IsFirstChild             904
9            NrSiblings            1572
10       TransportMeans            3134
11       WklyStudyHours             955
12            MathScore               0
13         ReadingScore               0
14         WritingScore               0

#### Filling the missing values:

In [26]:
# Fill missing values for numerical columns with median
df['MathScore'].fillna(df['MathScore'].median(), inplace=True)

# For categorical columns, fill missing values with mode (most frequent value)
df['EthnicGroup'].fillna(df['EthnicGroup'].mode()[0], inplace=True)

 ### 2-Removing duplicates :

In [27]:
num_duplicates = df.duplicated().sum()
df = df.drop_duplicates()
print("Number of duplicate rows:", num_duplicates)
print("DataFrame after dropping all duplicate rows:")
print(df)

Number of duplicate rows: 0
DataFrame after dropping all duplicate rows:
       Unnamed: 0  Gender EthnicGroup          ParentEduc     LunchType  \
0               0  female     group C   bachelor's degree      standard
1               1  female     group C        some college      standard
2               2  female     group B     master's degree      standard
3               3    male     group A  associate's degree  free/reduced
4               4    male     group C        some college      standard
...           ...     ...         ...                 ...           ...
30636         816  female     group D         high school      standard
30637         890    male     group E         high school      standard
30638         911  female     group C         high school  free/reduced
30639         934  female     group D  associate's degree      standard
30640         960    male     group B        some college      standard

        TestPrep ParentMaritalStatus PracticeSport IsFirstChild  NrSiblings  \
0           none             married     regularly          yes         3.0
1            NaN             married     sometimes          yes         0.0
2           none              single     sometimes          yes         4.0
3           none             married         never           no         1.0
4           none             married     sometimes          yes         0.0
...          ...                 ...           ...          ...         ...
30636       none              single     sometimes           no         2.0
30637       none              single     regularly           no         1.0
30638  completed             married     sometimes           no         1.0
30639  completed             married     regularly           no         3.0
30640       none             married         never           no         1.0

      TransportMeans WklyStudyHours  MathScore  ReadingScore  WritingScore
0         school_bus            < 5         71            71            74
1                NaN         5 - 10         69            90            88
2         school_bus            < 5         87            93            91
3                NaN         5 - 10         45            56            42
4         school_bus         5 - 10         76            78            75
...              ...            ...        ...           ...           ...
30636     school_bus         5 - 10         59            61            65
30637        private         5 - 10         58            53            51
30638        private         5 - 10         61            70            67
30639     school_bus         5 - 10         82            90            93
30640     school_bus         5 - 10         64            60            58

[30641 rows x 15 columns]

### 3- Detect Outlier using mean method :

In [28]:
# Focusing on the numerical columns: MathScore, ReadingScore, WritingScore
numerical_columns = ['MathScore', 'ReadingScore', 'WritingScore']

# Calculate mean and standard deviation for each numerical column
means = df[numerical_columns].mean()
std_devs = df[numerical_columns].std()

# Define the threshold as 3 standard deviations from the mean
threshold = 3

# Calculate the outlier bounds
outlier_bounds = {
    col: (means[col] - threshold * std_devs[col], means[col] + threshold * std_devs[col])
    for col in numerical_columns
}

# Detect outliers
outliers = pd.DataFrame()
for col in numerical_columns:
    lower_bound, upper_bound = outlier_bounds[col]
    outliers_in_col = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    outliers = pd.concat([outliers, outliers_in_col])

# Remove duplicate rows (if not already removed)
outliers = outliers.drop_duplicates()

# Display the detected outliers
display(outliers)

,Unnamed: 0,Gender,EthnicGroup,ParentEduc,LunchType,TestPrep,ParentMaritalStatus,PracticeSport,IsFirstChild,NrSiblings,TransportMeans,WklyStudyHours,MathScore,ReadingScore,WritingScore
17,17,female,group B,some high school,free/reduced,none,divorced,sometimes,yes,1.0,school_bus,5 - 10,18,32,28
55,59,female,group C,some high school,free/reduced,none,single,regularly,yes,3.0,school_bus,> 10,0,17,10
751,787,female,group B,some college,standard,none,single,regularly,no,4.0,private,< 5,18,37,32
928,980,female,group B,high school,free/reduced,none,married,sometimes,yes,1.0,private,5 - 10,8,24,23
3283,471,female,group C,some high school,free/reduced,none,married,sometimes,no,2.0,private,5 - 10,17,36,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12748,526,male,group C,some high school,free/reduced,none,NaN,regularly,no,1.0,private,> 10,25,27,19
16326,361,male,group C,some high school,standard,none,married,regularly,yes,2.0,private,5 - 10,25,27,16
21462,848,male,group B,some high school,free/reduced,none,married,sometimes,yes,1.0,school_bus,5 - 10,25,28,20
21579,975,female,group B,high school,free/reduced,NaN,single,never,no,1.0,private,5 - 10,24,26,22
29817,843,male,group D,high school,free/reduced,none,married,sometimes,no,1.0,private,5 - 10,33,31,22

### 4. Statistical summary of the numerical data

In [29]:
# 4. Statistical Summary
print("\nStatistical Summary of the DataFrame:")
display(df.describe())

Statistical Summary of the DataFrame:

         Unnamed: 0    NrSiblings     MathScore  ReadingScore  WritingScore
count  30641.000000  29069.000000  30641.000000  30641.000000  30641.000000
mean     499.556607      2.145894     66.558402     69.377533     68.418622
std      288.747894      1.458242     15.361616     14.758952     15.443525
min        0.000000      0.000000      0.000000     10.000000      4.000000
25%      249.000000      1.000000     56.000000     59.000000     58.000000
50%      500.000000      2.000000     67.000000     70.000000     69.000000
75%      750.000000      3.000000     78.000000     80.000000     79.000000
max      999.000000      7.000000    100.000000    100.000000    100.000000

###5- Correlation Coefficient & Variance & Mean & Median:

In [30]:
# Correlation Coefficient (only on numerical columns)
numeric_df = df.select_dtypes(include=['float64', 'int64'])  # Select only numeric columns
correlation = numeric_df.corr()
print("\nCorrelation Coefficient Matrix:")
display(correlation)

# Mean of numerical columns
mean_values = df[numerical_columns].mean()
print("\nMean of the numerical columns:")
display(mean_values)

# Variance of the numerical columns
variance = df[numerical_columns].var()
print("\nVariance of the numerical columns:")
display(variance)

# Median of numerical columns
median_values = df[numerical_columns].median()
print("\nMedian of the numerical columns:")
display(median_values)

Correlation Coefficient Matrix:

              Unnamed: 0  NrSiblings  MathScore  ReadingScore  WritingScore
Unnamed: 0      1.000000   -0.000096  -0.000476     -0.001349     -0.000781
NrSiblings     -0.000096    1.000000  -0.001195     -0.000874     -0.002554
MathScore      -0.000476   -0.001195   1.000000      0.817825      0.807118
ReadingScore   -0.001349   -0.000874   0.817825      1.000000      0.952584
WritingScore   -0.000781   -0.002554   0.807118      0.952584      1.000000

Mean of the numerical columns:

MathScore       66.558402
ReadingScore    69.377533
WritingScore    68.418622
dtype: float64

Variance of the numerical columns:

MathScore       235.979234
ReadingScore    217.826655
WritingScore    238.502459
dtype: float64

Median of the numerical columns:

MathScore       67.0
ReadingScore    70.0
WritingScore    69.0
dtype: float64